<h1>Hello {{username}}!</h1>


<h2>{{restaurant.name}}</h2>

<form action="/client/order-summary/{{restaurant._id}}" method="POST">

    <div>
        <label for="table"> Table number </label>
        <input type="number" name="table" id="table-input" />
    </div>
    
<h3>{{restMenu.name}}</h3>

    <h4>To start with</h4>
    {{#each restMenu.dishes}}
    {{#ifCond this.category '==' "starters"}}
    <div>
        <input class="input" type="checkbox" name={{this._id}} value="true">
        <label for="selectedDish">{{this.name}}</label>
    </div>
    <div>{{this.description}}</div>
    <div>{{this.price}}</div>
    {{/ifCond}}
    {{/each}}

    <h4>Main dishes</h4>
    {{#each restMenu.dishes}}
    {{#ifCond this.category '==' "main"}}
    <div>
        <input class="input" type="checkbox" name={{this._id}} value="true">
        <label for="selectedDish">{{this.name}}</label>
    </div>
    <div>{{this.description}}</div>
    <div>{{this.price}}</div>
    {{/ifCond}}
    {{/each}}

    <h4>Desserts</h4>
    {{#each restMenu.dishes}}
    {{#ifCond this.category '==' "desserts"}}
    <div>
        <input class="input" type="checkbox" name={{this._id}} value="true">
        <label for="selectedDish">{{this.name}}</label>
    </div>
    <div>{{this.description}}</div>
    <div>{{this.price}}</div>
    {{/ifCond}}
    {{/each}}

    <button type="submit">Order</button>
</form>