<nav class="navbar navbar-expand-md navbar-black bg-white ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 "></div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"
                style="color:black;rotate: 90deg; letter-spacing: -2.5px; text-align: center;">|||</span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="letter-space nav-item ">
                <a class="nav-link" href="/restaurant/restaurant-profile">PROFILE</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/restaurant/dishes">DISHES</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/restaurant/menu">MENU</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/restaurant/orders">ORDERS</a>
            </li>
            <li class="letter-space nav-item">
                <a class="nav-link" href="/logout">LOG OUT</a>
            </li>
        </ul>
    </div>
</nav>
<header class="restaurant-headers dishes-dashboard">

    <div class="restaurant-dashboard-text">
        <h2>Dishes</h2>
    </div>
</header>


<main class="center-div mb100">
    <div class="form-backgroud white-back-form">
        <h3 class="mt30">Your dishes list</h3>
        <button type="button" class="black-btn mb30 mt10" data-toggle="modal" data-target="#exampleModal">
            Create dish
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create your dish</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body center-div">
                    <form class="white-back-form" action="/restaurant/dishes" method="post">
                        <div>
                            <label for="name">Dish name:</label>
                            <input type="text" name="name" id="name" placeholder="Dish name">
                        </div>

                        <div>
                            <label for="description">Description</label>
                            <input type="text" name="description" id="description" placeholder="Description">
                        </div>

                        <div>
                            <label for="characteristics">Characteristics</label>
                            <h6 class="ta">Indicate if your dish is spicy, veggetarian or gluten free.</h6>
                            <div style="display: flex; align-items:center;" class="mt20">
                                <input type="checkbox" id="characteristics" name="characteristics" value="spicy"/>
                                <label style="margin:0px;" for="checkbox"><img style="width:40px" src="/images/spicy-icon.png" /></label>

                                <input type="checkbox" id="characteristics" name="characteristics" value="veg"/>
                                <label style="margin:0px;" for="checkbox"><img style="width:40px" src="/images/veg-icon.png" /></label>

                                <input type="checkbox" id="characteristics" name="characteristics" value="gluten-free"/>
                                <label style="margin:0px;" for="checkbox"><img style="width:50px" src="/images/gluten-free-icon.png" /></label>
                            </div>

                        </div>

                        <div>
                            <label for="allergies">This dish has:</label>
                            <select name="allergies" id="allergies">
                                <option value="Wheat">Wheat</option>
                                <option value="Egg">Egg</option>
                                <option value="Peanut">Peanut</option>
                                <option value="Milk">Milk</option>
                                <option value="Celery">Celery</option>
                                <option value="Sesam">Sesam</option>
                                <option value="Lupine">Lupine</option>
                                <option value="Fish">Fish</option>
                                <option value="Crustacea">Crustacea</option>
                                <option value="Mollusk">Mollusk</option>
                                <option value="Soy">Soy</option>
                                <option value="Nuts">Nuts</option>
                                <option value="Mustard">Mustard</option>
                                <option value="Sulphites">Sulphites</option>
                                <option value="None">None of those</option>
                            </select>
                        </div>

                        <div>
                            <label for="categories">Select the category</label>
                            <select name="categories" id="categories" value="{{category}}">
                                <option value="starters">To start with</option>
                                <option value="main">Main Dishes</option>
                                <option value="desserts">Desserts</option>
                            </select>
                        </div>

                        <div>
                            <label for="price-input"> Price </label>
                            <input type="number" step="any" name="price" id="price-input" />
                        </div>
                        <div class="btn-center mt20">
                            <button class="black-btn"> Save dish </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!--- Edit and remove -->

    <div class="w100">
        {{#each dishes}}
        <div class="element">
            <div class="element-row">
                <h5>{{name}}</h5>
                <h4>{{price}}<span>€</span></h4>
            </div>
            <hr>
            <div class="element-row">
                <h6>{{description}}</h6>
            </div>
        </div>

        <div class="pl40 mb20">
            <button class="grey-btn" style="display: inline;" onclick="showEditForm('{{this._id}}')">Edit dish</button>
            <div class="ml20" id={{this._id}} style="display: none;">
                <form class="white-back-form" method="POST" action="/restaurant/dishes/edit/{{this._id}}">
                    <div>
                        <label for="name">Dish name</label>
                        <input type="text" name="name" id="name" placeholder="Dish name" value="{{name}}">
                    </div>

                    <div>
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" placeholder="Description"
                            value="{{description}}">
                    </div>

                    <div>
                        <label for="characteristics">Characteristics</label>
                        <input type="text" name="characteristics" id="characteristics"
                            placeholder="Put 2 or 3 characteristics" value="{{characteristics}}">
                    </div>

                    <div>
                        <label for="allergies">This dish has...?</label>
                        <select name="allergies" id="allergies" value="{{allergies}}">
                            <option value="Wheat">Wheat</option>
                            <option value="Egg">Egg</option>
                            <option value="Peanut">Peanut</option>
                            <option value="Milk">Milk</option>
                            <option value="Celery">Celery</option>
                            <option value="Sesam">Sesam</option>
                            <option value="Lupine">Lupine</option>
                            <option value="Fish">Fish</option>
                            <option value="Crustacea">Crustacea</option>
                            <option value="Mollusk">Mollusk</option>
                            <option value="Soy">Soy</option>
                            <option value="Nuts">Nuts</option>
                            <option value="Mustard">Mustard</option>
                            <option value="Sulphites">Sulphites</option>
                        </select>
                    </div>

                    <div>
                        <label for="categories">Select the category</label>
                        <select name="categories" id="categories" value="{{category}}">
                            <option value="starters">To start with</option>
                            <option value="main">Main Dishes</option>
                            <option value="desserts">Desserts</option>
                        </select>
                    </div>

                    <div>
                        <label for="price-input"> Price </label>
                        <input type="number" step="any" name="price" id="price-input" value="{{price}}">
                    </div>

                    <div class="center-div mb20 mt10">
                        <button class="black-btn" type="submit" onclick="showEditForm2('{{this._id}}')">Save
                            dish</button>
                    </div>
                </form>
            </div>


            <form style="display: inline;" method="POST" action="/restaurant/dishes/remove/{{this._id}}"
                style="width: 10%;">
                <button class="grey-btn" type="submit">Remove dish</i></button>
            </form>
        </div>





        {{/each}}
    </div>
</main>

{{!-- <button class="black-btn mb10"><a href="/logout"> Log Out </a></button> --}}

<script>
    function showEditForm(dish) {
        if (document.getElementById(dish).style.display == "none") {
            document.getElementById(dish).style.display = "block";
        } else {
            document.getElementById(dish).style.display = "none"
        }
    }

    function showEditForm2(dish) {
        if (document.getElementById(dish).style.display == "block") {
            document.getElementById(dish).style.display = "none";
        }
    }

    $(window).load(function () {
        $(".trigger_popup_fricc").click(function () {
            $('.hover_bkgr_fricc').show();
        });
        $('.hover_bkgr_fricc').click(function () {
            $('.hover_bkgr_fricc').hide();
        });
        $('.popupCloseButton').click(function () {
            $('.hover_bkgr_fricc').hide();
        });
    });



</script>