    <form action="/restaurant/restaurant-profile-edit/edit/{{restaurant_id}}" method="POST">
    <div>
        <label for="name"> Restaurant name </label>
        <input type="text" name="name" id="rname" placeholder="Restaurant name" value="{{name}}">
    </div>    
    <div>
        <label for="description"> Description </label>
        <input type="textarea" name="description" id="rdescription" placeholder="Descrive your restaurant" value="{{description}}">
    </div>    
    <div>
        <h4>Contact info:</h4>
        <label for="address"> Adress: </label>
        <input type="text" name="address" id="radress" placeholder="" value="{{address}}">
        <label for="phone"> Phone number: </label>
        <input type="number" name="phone" id="rphone" placeholder="" value="{{phone}}">
        <label for="email"> Email: </label>
        <input type="email" name="email" id="remail" placeholder="" value="{{email}}">
        <label for="website"> Website: </label>
        <input type="text" name="website" id="rwebsite" placeholder="" value="{{website}}">
    </div>   
     <div>
        <label for="imgPath"> Adress: </label>
        <img name="imgPath" id="rimg" src="" alt="Restaurant image" value="{{imgPath}}"/>
    </div>

    <button type="submit">Save profile</button>


    </form>