{{#if restaurant}}

<div id="updateProfile">
<h1>Profile</h1>
{{restaurant}}
{{restaurant.description}}
{{restaurant.contactInfo.address}}
{{restaurant.contactInfo.phone}}
{{restaurant.contactInfo.email}}
{{restaurant.contactInfo.website}}

<form action="/restaurant/restaurant-profile/edit" method="post">
 
 <button><a href="/restaurant/restaurant-profile-edit/{{restaurant_id}}">Update profile</a></button>


{{else}}

<div id="createProfile">
    <h1>Crear perfil</h1>
    <form action="/restaurant/restaurant-profile" method="post">
        <div>
            <label for="name"> Restaurant name </label>
            <input type="text" name="name" id="rname" placeholder="Restaurant name">
        </div>        <div>
            <label for="description"> Description </label>
            <input type="textarea" name="description" id="rdescription" placeholder="Descrive your restaurant">
        </div>        <div>
            <h4>Contact info:</h4>
            <label for="address"> Adress: </label>
            <input type="text" name="address" id="radress" placeholder="">
            <label for="phone"> Phone number: </label>
            <input type="number" name="phone" id="rphone" placeholder="">
            <label for="email"> Email: </label>
            <input type="email" name="email" id="remail" placeholder="">
            <label for="website"> Website: </label>
            <input type="text" name="website" id="rwebsite" placeholder="">
        </div>        <div>
            <label for="imgPath"> Adress: </label>
            <img name="imgPath" id="rimg" src="" alt="Restaurant image" />
        </div>        
        <button> Create your profile </button>
    </form>
</div>


{{/if}}


<a href="/restaurant/dashboard-restaurant">Back</a>