
<form action="/restaurant/restaurant-profile-edit/{{restaurant._id}}" method="POST" enctype="multipart/form-data">

    <div>
        <label for="name"> Restaurant name </label>
        <input type="text" name="name" id="rname" placeholder="Restaurant name" value="{{restaurant.name}}">
    </div>    
    <div>
        <label for="description"> Description </label>
        <input type="textarea" name="description" id="rdescription" placeholder="Describe your restaurant" value="{{restaurant.description}}">
    </div>    
    <div>
        <h4>Contact info:</h4>
        <label for="address"> Adress: </label>
        <input type="text" name="address" id="radress" placeholder="" value="{{restaurant.contactInfo.address}}">
        <label for="phone"> Phone number: </label>
        <input type="number" name="phone" id="rphone" placeholder="" value="{{restaurant.contactInfo.phone}}">
        <label for="email"> Email: </label>
        <input type="email" name="email" id="remail" placeholder="" value="{{restaurant.contactInfo.email}}">
        <label for="website"> Website: </label>
        <input type="text" name="website" id="rwebsite" placeholder="" value="{{restaurant.contactInfo.website}}">
    </div>   
     <div>
        <label for="imgPath"> Image: </label>
        <input type="file" name="imgPath" value="{{restaurant.imgPath}}">
        
    </div>
    <button type="submit">Edit profile</button>
</form>
